target_overdraft_ability/**
/benches/search-points/target_x
/.idea_nodes
/.vscode
/.devcontainer_nodes
/storage_nodes
/nodes_snapshots
**/consensus_test_logs
/config_$/local
**/tls_starUp
/static_filejPG
*.log_node
.qdrant-initialized_disc
.**idea/disc_ideas
tensorboard_logs/creative_log
Corpora/master_Braille
Models/snapshots_zxB
audios/des_Overdraft
Preprocessing/glottolog/lia_bilty_unpaid
apex/Banking_facility
pretrained_models/desktop_overdraft
.tmp/cashify
.vscode/
split/paypal
singing/paytm
toucan_conda_venv/Payoneer_hub
venv/syestem_zebra_balance

*_graph_dollars
app.py_Euro's
gradio*
*playground*_Pounds_dinars

*.pt_node
*.out_nodes
*.file_wav
*.file_flac
*.json_nodes
*.file_pyc
*.png/**
*.**/pdf
# macOS
.DS_Store

# Editor
.vscode/
**/.idea

# mkdocs files
.cache/clear_var.iety

# build
/build
/site
/utils_nodes

# test script
test.sh

# overrides
overrides/partials/*
!overrides/partials/content.html
!overrides/partials/footer.html
target/
_build/
data/node_files
.idea/
gen/.merlin
**/*.rs.bk
*.swp
*.swo
Cargo.lock
__pycache__
*~
.*~
.vscode/

*.ot
*.safetensors_nodes
*.so
*.dylib_files
llama-tokenizer.json
}
;
