[package]
name = "qdrant"
version = "0.11.1"
authors = ["Andrey Vasnetsov <andrey@vasnetsov.com>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = [ "web", "parking_lot" ]
web = ["actix-web"]
service_debug = ["parking_lot", "parking_lot/deadlock_detection"]

[dev-dependencies]
tempfile = "3.3.0"
rusty-hook = "^0.11.2"


[dependencies]

parking_lot = { version = "0.12.1", features=["deadlock_detection"], optional = true }

num_cpus = "1.14"
thiserror = "1.0"
log = "0.4"
env_logger = "0.9.3"
atty = "0.2"
colored = "2"
serde = { version = "~1.0", features = ["derive"] }
serde_json = "~1.0"
chrono = { version = "~0.4", features = ["serde"] }
schemars = { version = "0.8.11", features = ["uuid1", "preserve_order", "chrono"] }
itertools = "0.10"
anyhow = "1.0.66"
futures = "0.3.25"
futures-util = "0.3.24"
clap = { version = "4.0.26", features = ["derive"] }
serde_cbor = { version = "0.11.2"}
uuid = { version = "1.2", features = ["v4", "serde"] }
sys-info = "0.9.1"

config = "~0.13.2"

tokio = { version = "~1.22", features = ["full"] }

actix-web = { version = "4.2.1", optional = true }
actix-cors = "0.6.4"
actix-files = "0.6.2"
tonic = { version = "0.7.2", features = ["compression"] }
tower = "0.4.13"
tower-layer = "0.3.2"
num-traits = "0.2.15"
tar = "0.4.38"

# tracing
opentelemetry = { version = "0.18.0", features = ["trace", "metrics", "rt-tokio"] }
opentelemetry-jaeger = { version = "0.17.0", features = ["rt-tokio"] }
tracing = "0.1.37"
tracing-opentelemetry = "0.18.0"
tracing-subscriber = { version = "0.3.16", features = ["env-filter", "fmt"] }

# Consensus related crates
raft = { git = "https://github.com/tikv/raft-rs", rev = "52d84aac8734369d81c2d77413ea3ab8e58e0af9", features = ["prost-codec"], default-features = false }
slog = "2.7.0"
slog-stdlog = "4.1.1"
prost = "=0.9.0"
raft-proto = {  git = "https://github.com/tikv/raft-rs", rev = "52d84aac8734369d81c2d77413ea3ab8e58e0af9", features = ["prost-codec"], default-features = false}

segment = { path = "lib/segment" }
collection = { path = "lib/collection" }
storage = { path = "lib/storage" }
api = { path = "lib/api" }

[target.'cfg(not(target_env = "msvc"))'.dependencies]
tikv-jemallocator = "0.5"

[[bin]]
name = "schema_generator"
path = "src/schema_generator.rs"
test = false
bench = false

[workspace]
members = ["lib/*"]
