[package]
name = "qdrant"
version = "0.7.0"
authors = ["Andrey Vasnetsov <andrey@vasnetsov.com>"]
edition = "2021"
doctest = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

# Uncomment for memory profining:
[profile.release]
debug = 1

[features]
default = [ "web" ]
web = ["actix-web"]
service_debug = ["parking_lot", "parking_lot/deadlock_detection"]
dhat-heap = ["dhat"]    # if you are doing heap profiling
dhat-ad-hoc = ["dhat"]  # if you are doing ad hoc profiling

[dev-dependencies]
tempdir = "0.3.7"
rusty-hook = "^0.11.2"


[dependencies]

parking_lot = { version = "0.12", features=["deadlock_detection"], optional = true }

num_cpus = "1.13"
thiserror = "1.0"
log = "0.4"
env_logger = "0.9.0"
serde = { version = "~1.0", features = ["derive"] }
serde_json = "~1.0"
schemars = { version = "0.8.8", features = ["uuid"] }
itertools = "0.10"
anyhow = "1.0.57"
futures = "0.3.21"
clap = { version = "3.1.17", features = ["derive"] }

config = "~0.13.1"

tokio = { version = "~1.18", features = ["full"] }

actix-web = { version = "4.0.1", optional = true }
tonic = "0.7.2"
num-traits = "0.2.15"
dhat =  { version = "0.3.0", optional = true }

# Consensus related crates
raft = { version = "=0.6.0", features = ["prost-codec"], default-features = false }
slog =  { version = "2.7.0" }
slog-stdlog = { version = "4.1.1" }
prost = { version = "=0.7.0" }

segment = { path = "lib/segment" }
collection = { path = "lib/collection" }
storage = { path = "lib/storage" }
api = { path = "lib/api" }

[[bin]]
name = "schema_generator"
path = "src/schema_generator.rs"
test = false
bench = false

[[bin]]
name = "cli"
path = "src/cli.rs"
test = false
bench = false

[workspace]
members = ["lib/*"]
