/schemas/AllDefinitions.json
/models.yaml
/models.json
/openapi-collections.yaml
/openapi-snapshots.yaml
/openapi-main.yaml
/openapi-merged.yaml
/openapi-merged.json
/openapi-points.yaml
/openapi-cluster.yaml
/openapi-service.yaml
__pycache__/