#@ load("openapi.lib.yml", "response", "reference", "type", "array")

paths:
  /:
    get:
      summary: Returns information about the running Qdrant instance
      description: Returns information about the running Qdrant instance like version and commit id
      operationId: root
      tags:
        - Service
      responses:
        "200":
          description: Qdrant server version information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersionInfo"
        "4XX":
          description: error

  /telemetry:
    get:
      summary: Collect telemetry data
      description: Collect telemetry data including app info, system info, collections info, cluster info, configs and statistics
      operationId: telemetry
      tags:
        - Service
      parameters:
        - name: anonymize
          in: query
          description: "If true, anonymize result"
          required: false
          schema:
            type: boolean
        - name: details_level
          in: query
          description: "Level of details in telemetry data. Minimal level is 0, maximal is infinity"
          required: false
          schema:
            type: integer
            minimum: 0
      responses: #@ response(reference("TelemetryData"))

  /metrics:
    get:
      summary: Collect Prometheus metrics data
      description: Collect metrics data including app info, collections info, cluster info and statistics
      operationId: metrics
      tags:
        - Service
      parameters:
        - name: anonymize
          in: query
          description: "If true, anonymize result"
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: Metrics data in Prometheus format
          content:
            text/plain:
              schema:
                type: string
                example: |
                  # HELP app_info information about qdrant server
                  # TYPE app_info gauge
                  app_info{name="qdrant",version="0.11.1"} 1
                  # HELP cluster_enabled is cluster support enabled
                  # TYPE cluster_enabled gauge
                  cluster_enabled 0
                  # HELP collections_total number of collections
                  # TYPE collections_total gauge
                  collections_total 1
        "4XX":
          description: error

  /healthz:
    get:
      summary: Kubernetes healthz endpoint
      description: An endpoint for health checking used in Kubernetes.
      operationId: healthz
      tags:
        - Service
      responses:
        "200":
          description: Healthz response
          content:
            text/plain:
              schema:
                type: string
                example: healthz check passed
        "4XX":
          description: error

  /livez:
    get:
      summary: Kubernetes livez endpoint
      description: An endpoint for health checking used in Kubernetes.
      operationId: livez
      tags:
        - Service
      responses:
        "200":
          description: Healthz response
          content:
            text/plain:
              schema:
                type: string
                example: healthz check passed
        "4XX":
          description: error

  /readyz:
    get:
      summary: Kubernetes readyz endpoint
      description: An endpoint for health checking used in Kubernetes.
      operationId: readyz
      tags:
        - Service
      responses:
        "200":
          description: Healthz response
          content:
            text/plain:
              schema:
                type: string
                example: healthz check passed
        "4XX":
          description: error

  /issues:
    get:
      summary: Get issues
      description: Get a report of performance issues and configuration suggestions
      operationId: get_issues
      tags:
        - Beta
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        "4XX":
          description: error
    delete:
      summary: Clear issues
      description: Removes all issues reported so far
      operationId: clear_issues
      tags:
        - Beta
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: boolean
        "4XX":
          description: error
