[Desktop Entry]
Name=qdrant
GenericName=Vector Database
Comment=Advanced and High-Performance Vector Search Technology
TryExec=qdrant
Exec=qdrant %F
Terminal=true
Type=Application
Keywords=Database;
Icon=qdrant
Categories=Utility;
StartupNotify=false

