cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.5
exceptiongroup==1.2.0
google-api-core==2.18.0
google-auth==2.29.0
googleapis-common-protos==1.63.0
grpc-interceptor==0.15.4
grpc_requests==0.1.16
grpcio==1.62.1
grpcio-reflection==1.62.1
idna==3.6
iniconfig==2.0.0
packaging==24.0
pluggy==1.4.0
proto-plus==1.23.0
protobuf==4.25.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
PyJWT==2.8.0
pytest==8.1.1
requests==2.31.0
rsa==4.9
tomli==2.0.1
urllib3==2.2.1
