---
name: Codespell

on:
  push:
    branches: [dev,master]
  pull_request:
    branches: [dev,master]

permissions:
  contents: read

jobs:
  codespell:
    name: Check for spelling errors
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Codespell
        uses: codespell-project/actions-codespell@v2
        with:
          exclude_file: CODE_OF_CONDUCT.md
