name: Coverage Report - dev

on:
  workflow_dispatch: # Trigger from UI for selected branch
  schedule:
    - cron: "0 0 * * *"

jobs:
    coverage:
        runs-on: ubuntu-latest
        steps:
        - name: Install minimal stable
          uses: dtolnay/rust-toolchain@stable
          with:
            components: llvm-tools-preview
        - uses: actions/checkout@v4
          with:
            # If scheduled by cron, run for dev branch, Otherwise specified branch (for workflow dispatch & push)
            ref: ${{ github.event_name == 'schedule' && 'dev' || github.ref_name }}
            fetch-depth: 0
        - uses: Swatinem/rust-cache@v2
        - name: Install Protoc
          uses: arduino/setup-protoc@v3
          with:
            repo-token: ${{ secrets.GITHUB_TOKEN }}
        - name: Install nextest
          uses: taiki-e/install-action@nextest
        - name: Install llvm-cov
          run: cargo install cargo-llvm-cov && sudo apt install -y lcov
        - name: Run tests with coverage
          run: RUN_PER_PACKAGE=true tools/coverage.sh
        - name: Upload coverage data to Codecov
          uses: codecov/codecov-action@v5
          with:
            files: lcov.info
            override_branch: ${{ github.event_name == 'schedule' && 'dev' || github.ref_name }}
            token: ${{ secrets.CODECOV_TOKEN }}
            verbose: true
